.okruhy {
    transition: 1s;
    text-align: center;
}

.okruhy:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.okruhy-link{
    text-decoration: none;
}

label.conA {
	display: block;
	position: relative;
	padding: 5px;
	margin: auto;
	cursor: pointer;
	margin-top: 5px;
	transition: 0.5s;
}

label.conA input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

label.conA span.uRadio{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	transition: 0.5s;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
}

label.conA span.uRadio span.Answer {
	margin-left: 20px;
}

label.conA:hover input ~ span.uRadio {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(0, 0, 0);
}

label.conA input:checked ~ span.uRadio {
  background-color: rgba(214, 214, 214, 0.7);
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

div#headerQ * {
	opacity: 1;
	padding: 10px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	transition: 0.5s;
	display: inline-block;
	margin: 0;

}

div#ProgressBar {
	position: relative;
	display: inline-block;
	width: 80%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	margin-left: 30px;


}

div#Progress {
	position: relative;
	height: 100%;
	width: 0;
	top: 0;
	left: 0;
	background-color: rgb(153, 255, 102);
}


div#timer {
	position: relative;
	display: block;
	width: 100%;
	margin: auto;
	height: 8px;
	border: 2px solid white;
}

div#time {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
}

span#timesleft {
	position: relative;
	display: block;
	margin: auto;
    padding: 0;
}

span#NoTime {
	font-size: 1.2em;
}



div#vysledekbar {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	color: white;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	text-align: center;
}



span#vysledek {
	display: block;
	position: relative;
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 1.3em;
	margin-bottom: 5px;

}


div#ScoreBar {
	display: block;
	position: relative;
	width: 80%;
	height: 25px;
	margin: auto;
	border: 3px groove white;
	background-color: rgba(242, 242, 242, 0.4);
	margin-top: 5px;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
	
}

div#maxmin {
	display: flex;
	position: relative;
	width: 90%;
	height: auto;
	margin: auto;
	margin-top: 20px;
}

div#maxmin span {
	position: relative;
	display: inline-flex;
	margin: 0;
	height: auto;
	width: auto;
	padding: 6px;
	color: rgb(3, 3, 3);
    border-radius: 5px;
	background-color: rgb(255, 255, 255);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);

}

div.ScoreOnBar {
	height: 100%;
	position: absolute;
	left: 50%;
	width: 0;
	transition: 1s;
	
	top: 0;
}

div#negative {
	background-color: rgba(255, 0, 0, 0.8);
}

div#positive {
	background-color: rgba(153, 255, 51, 0.8);
}

div#questionCover{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #21252915;
    z-index: -10;
}
